body {
  font-family: "Roboto", sans-serif;  /* Default font. */
  background-repeat: repeat;
}

.bg1 {
  background-image: url(../img/background.png);  /* Background image. */
}

.bg2 {
  background-image: url(https://c.tenor.com/B85QfhcxFKMAAAAd/tenor.gif);  /* Background image. */
}

html, body, #screenContainer {
  height: 100%;
}

.screen-size1 {  /* This class describes the height of the id=mainAppScreen elt after login (to take into account the presence of navbar at the top of the computer-sized screen). */
  height: 90%;
  margin-top: 0%;  /* 0% for screens under 768px. */
}

@media (min-width: 768px) {  /* Shifts screen to be under navbar on computer (navbar on top). */
  .screen-size1 {
    margin-top: 9vh;  /* It is 9% and not 10% to account for borders, paddings and margins around outer components of app screen. */
  }
}

.screen-size2 {  /* This class describes the height of the id=mainAppScreen elt before login (to take into account the absence of navbar). */
  height: 100%;
  margin-top: 0%;
}

@media (min-width: 768px) {  /* Sets size of navbar on computer (top). */
  .navbar {
    height: 9%;
    width: 80%;
    z-index: 1;
  }
}

@media (max-width: 768px) {  /* Sets size of navbar on phone (bottom). */
  .navbar {
    height: 9%;  /* It is 9vh and not 10vh to account for borders, paddings and margins around outer components of app screen. */
    z-index: 1;
  }
}

.navbar img {
  max-width: 100%; /* Make the images scale to the width of the parent div */
  height: auto; /* Maintain the aspect ratio of the images */
}
